.hasTooltip2 span {
    display: none;
    color: #000;
    text-decoration: none;
    padding-top : 3px;
    padding-bottom : 3px;
}

.hasTooltip2:hover span {
    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-top: 2px;
    margin-left: 50px;
}