<footer *ngIf="footerGuard" class="footer footer-static footer-dark navbar-border navbar-shadow bg-crecer">

  <p class="clearfix text-sm-center mb-0 px-1">
    <span class="float-md-left d-block d-md-inline-block d-lg-block">{{versionApp}} Sede Lima - &nbsp; </span>
    <span class="float-md-left d-block d-md-inline-block d-lg-block">Dirección Av. Primavera 939 (Oficina SS-102), San Borja - Lima - Perú</span>
    <span class="float-md-right d-block d-md-inline-block">Copyright &copy; 2020
      <a style="color: white;" class="text-bold-800 grey darken-2" href="http://www.efitec.pe/nosotros/" target="_blank">Efitec </a>,
      Todos los derechos reservados.</span>
  </p> 
</footer>
