<div class="app-content content bg-white">
  <div class="content-wrapper">
    <!-- INICIO Breadcrumbs -->
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">{{Title}}</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/manage/inicio">Inicio</a>
              </li>
              <li class="breadcrumb-item"><a routerLink="/manage/indicador-gestion">{{BreadLevel01}}</a>
              </li>
              <li class="breadcrumb-item active">{{Title}}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN Breadcrumbs -->
    <div class="content-body">
      <div class="row ">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> FILTROS </h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>

                <div class="card-content collapse show">
                  <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-2 col-sm-12">
                          <label > Código Proyecto </label>
                          <mat-form-field style="width: 100%;">
                            <input type="text" aria-label="Number" matInput [formControl]="myControl" [(ngModel)]="filterProject.scodproject" [matAutocomplete]="auto" (change)="changeCodigoServicio()">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeCodigoServicio()" >
                              <mat-option *ngFor="let option of codigoProyecto | async" [value]="option.scodproject" style="font-size:12px"> 
                                {{ option.scodproject }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>

                        <div class="form-group col-md-3 col-sm-12">
                          <label > Nombre Proyecto </label>
                          <mat-form-field style="width: 100%;">
                            <input type="text"  aria-label="Number" matInput [formControl]="myControll" [matAutocomplete]="auto2" [(ngModel)]="inputNombreServicio" (change)="changeNombreServicio()">
                            <mat-autocomplete #auto2="matAutocomplete" style="width: 300px;" (optionSelected)="changeNombreServicio()" >
                              <mat-option *ngFor="let option of nombreProyecto | async" [value]="option.snameproject" style="font-size:12px">
                                {{ option.snameproject }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>

                        <div class="form-group col-md-2 col-sm-12">
                          <label > Estado </label>
                          <select class="select2 form-control block"   required [(ngModel)]="filterProject.nid_status" (change)="changeEstado()">
                           <option value="0">-- Seleccione --</option>
                           <option *ngFor="let item of listState" [value]="item.nid_mastertable_type">
                            {{item.sshort_value}}</option>
                         </select>
                        </div>

                        <div class="col-md-2 col-sm-12">
                          <div class="form-actions">
                            <button type="button" class="btn btn-outline-info btn-active" (click)="search()">
                              <i class="la la-search"></i>&nbsp;Consultar
                            </button>
                          </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                          <div class="form-actions">
                            <button type="button" (click)="ExportToExcel()" class="btn " style="padding: 0; border: none;background: transparent;">
                              <img style="width:24px;height: 24px; " src="../../../../../assets/images/icons/excel1.png" /> &nbsp;Exportar
                            </button>
                          </div>
                        </div>

                      </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 input-group" >
          <input type="month" class="form-control" [(ngModel)]="date1String" (ngModelChange)="generateArregloSemanas()" style="margin-right: 15px;">
          <input type="month" class="form-control" [(ngModel)]="date2String" (ngModelChange)="generateArregloSemanas()">
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Lista de Resultado</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show">
              <div class="card-body card-dashboard">

                <div class="row">

                  <div class="form-group" style="overflow-x:scroll;">
                    <div class="col-md-12">

                      <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="table-layout: fixed;" #table>
                          <thead>
                            <tr>
                              <th scope="col" [attr.rowspan]="2" style="text-align: center;width: 200px;">Personal</th>
                              <th [attr.colspan]="mes[2][0].length + 1" style="text-align: center;width: 300px;" *ngFor="let mes of semanas_meses; let i = index">
                                {{ titleTable(mes[0], mes[1])}}
                              </th>
                              <th scope="col" [attr.rowspan]="2" style="text-align: center;width: 60px;">Total</th>
                            </tr>
                            <tr>
                              <ng-container *ngFor="let mes of semanas_meses; let i = index">
                                <ng-container *ngFor="let semana of mes[2][0]; let j = index">
                                  <th style="text-align: center;width: 100px;">{{subTitleTable(semana, mes[2][1][j])}}</th>
                                </ng-container>
                                <th style="text-align: center ;width: 60px;">Total</th>
                              </ng-container>
                            </tr>
                          </thead>
                          <div *ngIf="!thereAreProjectsLoad(); then NoexistenRegistro  else MostrarRegistro"></div>
                          <ng-template #NoexistenRegistro>
                            <tbody>
                              <tr>
                                <td colspan="1" style="text-align: center;">No se encontraron resultados para la
                                  Búsqueda</td>
                              </tr>
                            </tbody>
                          </ng-template>
                          <ng-template #MostrarRegistro>
                            <tbody>
                              <tr *ngFor="let item of listaPersonas; let i = index">
                                <td style="text-align: center;width: 200px;">{{item.sperson}} </td>
                                <!-- <td style="text-align: center;width: 200px;">{{item.scodproject}} - {{item.snameproject}} </td> -->
                                <ng-container *ngFor="let mes of SemanasPorMeses(item.nid_person); let i = index; ">
                                  <ng-container *ngFor="let semana of mes; let i = index; last as isLast">
                                    <td style="text-align: right ;width: 110px;" [ngStyle]="{ 'background-color' : isLast? 'yellow': 'none'}"> {{semana}} </td>
                                  </ng-container>
                                </ng-container>
                                <td style="text-align: right ;width: 60px;">{{totalPorProyecto(item.nid_person)}}</td>
                              </tr>
                              <tr>
                                <td style="text-align: center;width: 110px; background-color :'#0e3555'; color:white">Total General</td>
                                <ng-container *ngFor="let mes of semanas_meses ; let i = index; ">
                                  <ng-container *ngFor="let semana of mes[2][0]; let j = index; last as isLast">
                                    <td style="text-align: right ;width: 110px; background-color :'#0e3555'; color:white"> {{totalPorMes(i, j)}} </td>
                                  </ng-container>
                                  <td style="text-align: right ;width: 110px; background-color :'#0e3555'; color:white">{{totalPorMes(i,mes[2][0].length)}} </td>
                                </ng-container>
                                <td style="text-align: right ;width: 110px; background-color :'#0e3555'; color:white">{{sumaTotalGeneral}}</td>
                              </tr>
                            </tbody>

                            <br>
                          </ng-template>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner name="SpinnerProject" bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin-clockwise"
  [fullScreen]="true">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>