<!-- <body class="vertical-layout vertical-menu-modern 2-columns menu-expanded fixed-navbar bg-full-screen-image caucion"> -->
<body class="caucion">    
  <!-- fixed-top-->
  <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-shadow">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">      
          <li class="nav-item mr-auto">
            <a class="navbar-brand" routerLink="/inicio">
              <img class="brand-logo logo-b" alt="logo crecer" src="assets/images/logo/logo_crecer.png">
              <h3 class="brand-text"></h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div></div>
  <footer class="footer footer-static footer-dark navbar-border navbar-shadow bg-crecer" style="margin-left: 0px !important;">
    <p class="clearfix text-sm-center mb-0 px-1">
      <span class="float-md-left d-block d-md-inline-block d-lg-block">{{versionApp}} Sede Lima - &nbsp; </span>
      <span class="float-md-left d-block d-md-inline-block d-lg-block">Dirección Av. Jorge Basadre 310 Piso 2 - San
        Isidro, Lima - Perú</span>
      <span class="float-md-right d-block d-md-inline-block">Copyright &copy; 2020
        <a style="color: white;" class="text-bold-800 grey darken-2" href="http://www.efitec.pe/nosotros/" target="_blank">Crecer Seguros</a>,
        Todos los derechos reservados.</span>
    </p> 
  </footer>
</body>

