    select:required:invalid {
      color: #9e9e9e;
    }
    
    option {
      color: black;
    }
    
    .label-responsive {
      max-width: 100px !important;
    }
    
    .dropwdonw-responsive {
      max-width: 100px !important;
    }


    input {
      text-transform:uppercase;
    }