<div class="app-content content bg-white">
  <div class="content-wrapper">
    <!-- INICIO Breadcrumbs -->
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12">
        <h3 class="content-header-title">{{Title}}</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/manage/inicio">Inicio</a>
              </li>
              <li class="breadcrumb-item"><a routerLink="/manage/estimacion-proyectos">{{BreadLevel01}}</a>
              </li>
              <li class="breadcrumb-item active">{{Title}}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN Breadcrumbs -->
    <div class="content-body">
      <!-- INICIO Filtro -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> FILTROS </h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div *ngIf="(!permisoAdministrador && !permisoJefeDeProyecto); then NoFiltro else MostrarFiltro"></div>
            <ng-template #NoFiltro>
                  <p style="padding-left: 30px;">No hay filtros disponible para el usuario</p>
            </ng-template>
            <ng-template #MostrarFiltro>
              <tbody>
                <tr>
                  <div class="card-content collapse show">
                    <div class="card-body">
                      <div class="form-body">
                        <div class="row">
                          <div class="form-group col-md-3 col-sm-12">
                            <label >Código Solicitud</label>
                            <input type="text" name="" id="" class="form-control" [(ngModel)]="filterProject.cod_request">
                          </div>

                          <div class="form-group col-md-3 col-sm-12">
                            <label>Código Proyecto</label>
                            <input type="text" name="" id="" class="form-control" [(ngModel)]="filterProject.scodproject" >
                          </div>
          
                          <div *ngIf="permisoAdministrador; then MostrarResponsable"></div>
                          <ng-template #MostrarResponsable>
                                <div class="form-group col-md-4 col-sm-12">
                                  <label >Responsable Proyecto</label>
                                  <select class="select2 form-control block"   required [(ngModel)]="filterProject.nid_manager" >
                                    <option value="0">-- Seleccione --</option>
                                    <option *ngFor="let item of PersonDropDownList" [value]="item.code">
                                      {{item.description}}</option>
                                    <span class="mensaje-error-control">El campo Responsable Proyecto es obligatorio</span>
                                  </select>
                                </div>      
                          </ng-template>


                          <div class="form-group col-md-3 col-sm-12">
                            <label>&nbsp;</label>
                            <div class="form-actions">
                              <button type="button" class="btn btn-outline-info btn-active"  (click)="ManualLoad()">
                                <i class="la la-file-o"></i>&nbsp;Nuevo
                              </button>
                            </div>
                          </div>

                          <div class="form-group col-md-3 col-sm-12">
                            <label>&nbsp;</label>
                            <div class="form-actions">
                              <button type="button" class="btn btn-outline-info btn-active" (click)="search()">
                                <i class="la la-search"></i>&nbsp;Consultar
                              </button>
                            </div>
                          </div>

                        </div>

                          

                      </div>
                    </div>
                  </div>
                </tr>
              </tbody>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- FIN Filtro -->
      <section id="configuration">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Lista de Resultado</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              </div>
              <div class="card-content collapse show">
                <div class="card-body card-dashb
                oard">
                  <div class="row">
                    
                    <div class="form-group" style="overflow-x:scroll;">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered" style="table-layout: fixed;">
                            <thead>
                              <tr>
                                <th scope="col" style="text-align: center;width: 110px;">Cód. Solicitud</th>              
                                <th scope="col" style="text-align: center;width: 200px;">Nombre Servicio</th>
                                <th scope="col" style="text-align: center;width: 250px;">Cliente</th>
                                <th scope="col" style="text-align: center;width: 130px;">Responsable</th>
                                <th scope="col" style="text-align: center;width: 150px;">Módulo</th>
                                <th scope="col" style="text-align: center;width: 110px;">Estado</th>
                                <th scope="col" style="text-align: center;width: 110px;">F. Registro</th>
                                <th scope="col" style="text-align: center;width: 80px;">Acciones</th>
                              </tr>
                            </thead>
                            <div *ngIf="!thereAreProjectsLoad(); then NoexistenRegistro  else MostrarRegistro"></div>
                            <ng-template #NoexistenRegistro>
                              <tbody>
                                <tr>
                                  <td colspan="8" style="text-align: center;">No se encontraron resultados para la
                                    Búsqueda</td>
                                </tr>
                              </tbody>
                            </ng-template>
                            <ng-template #MostrarRegistro>
                              <tbody>
                                <tr  *ngFor="let item of projectList; let i = index" >
                                  <td style="text-align: center;">{{item.cod_request}}</td>
                                  <td>{{item.snameproject}}</td>
                                  <td>{{item.sname_client}}</td>
                                  <td style="text-align: center;">{{item.sname_manager}}</td>
                                  <td style="text-align: center;">{{item.module}}</td>
                                  <td style="text-align: center;">{{item.name_state}}</td>
                                  <td style="text-align: center;">{{item.date_register | date: 'dd/MM/yyyy'}}</td>
                                  <td style="text-align:center;width: 80px;">
                                    <!-- <a *ngIf="permisoRegistrarEstimacion"  
                                        title="Ver Estimación" 
                                        (click)="ModalEditar(content2,item.scodproject)">
                                      <i class="fa fa-edit"></i> </a>&nbsp; -->
                                    <a *ngIf="permisoEditarSolicitud"  
                                        title="Ver Solicitud" 
                                        (click)="Load(item)">
                                      <i class="fa fa-eye"></i></a>
                                  </td>
                                </tr>
                              </tbody>
                              <br>
                            </ng-template>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <label class="col-md-1">Registros por Página</label>
                          <div class="col-md-1">
                            <select class="select2 form-control input-sm" (change)="ChangeRecordByPage()"
                              [(ngModel)]="itemsPerPage">
                              <option value=5>5</option>
                              <option value=10>10</option>
                              <option value=15>15</option>
                              <option value=20>20</option>
                            </select>
                          </div>
                          <div class="col-md-10">
                            <div class="d-flex justify-content-end">
                              
                              <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage"
                                [(page)]="currentPage" [rotate]="true" (pageChange)="pageChanged($event)">
                              </ngb-pagination>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </section>
      <!-- FIN Tabla Tabla Listado de Errores -->
    </div>
  </div>
</div>
<iframe id="ifrmTemplate" name="ifrmTemplate" style="display: none;"></iframe>
<a id="afile" name="afile" style="display: none;"></a>

<ngx-spinner></ngx-spinner>
