<div class="app-content content bg-white">
  <div class="content-wrapper">
        <!-- INICIO Breadcrumbs -->
        <div class="content-header row">
          <div class="content-header-left col-md-6 col-12">
            <h3 class="content-header-title">{{Title}}</h3>
            <div class="row breadcrumbs-top">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/bandeja-proyectos">Inicio</a>
                  </li>
                  <li class="breadcrumb-item"><a routerLink="/bandeja-proyectos">{{BreadLevel01}}</a>
                  </li>
                  <li class="breadcrumb-item active">{{Title}}
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>